:root {
    --primary-dark-border:rgb(5, 139, 0);
    --primary-active-border: rgb(7, 196, 0);
    --passive-border: lightgrey;

    --passive-font-color: lightslategray;
    --passive-button: rgb(99, 160, 99);
}
@media only screen and (min-width: 768px) {
    p, label{
        font-size: 1.4vw;
    }
    h1{
        font-size: 3.5vw;
    }
    h2{
        font-size: 2.7vw;
    }
    legend{
        font-size: 2vw;
    }
    h5{
        font-size: 1.75vw;
    }
    
    /* for search_by_criteria */
    .boxWithImageText:hover{
        opacity: 0.9;
        border: 0.2vw solid var(--passive-border);
    }
    fieldset{
        border: 0.2vw solid var(--primary-dark-border);
        height: max-content;
        padding: 10px;
        margin: 5px;
    }
    .boxWithImageText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 29vh;
        width: 13.2vw;
        padding: 2%;
        margin: 4%;
        opacity: 0.5;
    }
    .boxWithImageTextSmall{
        height: 22.46vh !important;
        width: 10.11vw !important;
    }
    .boxWithImageTextSelected{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 29vh;
        width: 13.2vw;
        padding: 2%;
        margin: 4%;
        border: 0.2vw solid var(--primary-active-border);
    }
}

.fileView *{
    display: block;
}

/* fieldsets */
fieldset{
    border: 2px solid var(--primary-dark-border);
    height: max-content;
    padding: 10px;
    margin: 5px;
}
fieldset legend{
    width: auto;
    padding: 0 0.5rem;
    float: none;
}
.fieldsetFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
fieldset h5{
    padding-left: 8px;
}


/* body */
body{
    padding: 2%;
}
main{
    width: 75%;
    margin: 0 auto;
}

/* drowpdown */
.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
}
.dropdown{
    padding: 5px;
}

#collections-fields{
    flex: 0 0 50%;
}

#collections2{
    display: flex;
}


table{
    overflow-y:auto;
    width: 30%;
   height:300px;
   display:block;
}

#headRow th, #docHeadRow th, #headRow3 th{
  position: sticky;
  top: 0;
  background: white;
}

#documents{
    flex: 0 0 25%;
}

#messageDetail input[type=text], #messageDetail select, #messageDetail textarea{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#message-button{
    flex: 0 0 50%;
}

