#CommonNameSection,#ScientificNameSection{
    margin-bottom: 2%;
}
#CommonsearchBar,#ScientificsearchBar{
    width: 70%;
}
.SearchByName{
    margin-bottom: 5%;
}
.answer{
    width: 70%;
    height: min-content;
    background-color: white;
    border: 1px solid grey;
}

.answer:hover{
    color: green;
}